@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caacupe+One&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Black Ops One", system-ui;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #050505;
    color: #ffffff;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}
